    @font-face {
    font-family: 'Neo Sans Arabic Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Neo Sans Arabic Regular'), url('../neo-sans-arabic-cufonfonts-webfont/SansArabicRegular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Neo Sans Arabic Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Neo Sans Arabic Regular'), url('../neo-sans-arabic-cufonfonts-webfont/NeoSansArabicRegular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Neo Sans Arabic Light';
    font-style: normal;
    font-weight: normal;
    src: local('Neo Sans Arabic Light'), url('../neo-sans-arabic-cufonfonts-webfont/NeoSansArabicLight.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Neo Sans Arabic Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Neo Sans Arabic Medium'), url('../neo-sans-arabic-cufonfonts-webfont/NeoSansArabicMedium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Neo Sans Arabic Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Neo Sans Arabic Bold'), url('../neo-sans-arabic-cufonfonts-webfont/NeoSansArabicBold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Neo Sans Arabic Black';
    font-style: normal;
    font-weight: normal;
    src: local('Neo Sans Arabic Black'), url('../neo-sans-arabic-cufonfonts-webfont/NeoSansArabicBlack.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Neo Sans Arabic Ultra';
    font-style: normal;
    font-weight: normal;
    src: local('Neo Sans Arabic Ultra'), url('../neo-sans-arabic-cufonfonts-webfont/NeoSansArabicUltra.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Neo Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Neo Sans Medium'), url('Neo_Sans_Medium.woff') format('woff');
    }