/* Start-Global-Rules */
:root{
  --main-color:#181d2b;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::before,
::after{
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  font-family: 'Kalam', sans-serif;
  direction: rtl;
}
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media(min-width:768px){
  .container{
    width: 750px;
  }
}
@media(min-width:992px){
  .container{
    width: 970px;
  }
}
@media(min-width:1200px){
  .container{
    width: 1170px;
  }
}
/* End-Global-Rules */
/* Start-Main-background-section */
section.main-background{
  position: relative;
  background: url(../images/backgrounds/blue.jpg) no-repeat center;
  height: 430px;
  width: 100%;
}
@media(max-width:991px){
  section.main-background{
    background: url(../images/blue.png) center;
  }
}
section.main-background::after{
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.319);
}
section.main-background ul{
  z-index: 1;
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 10px;
  gap: 10px;
}
section.main-background ul li{
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #dae0e0;
  cursor: pointer;
}
section.main-background ul li:hover,
section.main-background ul li.active{
  background-color: #009ec0;
}
/* End-Main-background-section */
/* Start-posted-animes */
.posted-animes{
  background-color: var(--main-color);
  color: white;
  
}
.posted-animes .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(170px,1fr));
  gap: 15px;
}
.posted-animes .container .box {
  position: relative;
  box-shadow: 0px 0px 10px rgb(3, 3, 3);
}
.posted-animes .container .box .img{
  position: relative;
  cursor: pointer;
  font-size: 0;
}
.posted-animes .container .box .img:hover::after{
  opacity: 1;
}
.posted-animes .container .box .img::after{
  position: absolute;
  opacity: 0;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.223);
  transition: 0.3s;
}
.posted-animes .container .box .img img{
max-width: 100%;
}
.posted-animes .container .box span{
  padding: 5px 8px;
  display: block;
  background-color: #009ec0;
  width: fit-content;
  border-radius: 25px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Neo Sans Arabic Bold',sans-serif;
}
a.tv{
  position: relative;
width: fit-content;
display: block;
background-color: rgb(255, 190, 11);
padding: 5px 15px;
border-radius: 20px;
margin-top: -20px;
margin-right: 8px;
color: white;
font-weight: bold;
}
.posted-animes .container .box p{
direction: ltr;
padding: 15px 10px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
position: relative;
}

/* End-posted-animes */
/* Start-Episodes-section */
section.episodes{
  background-color: #131722;
}
.main-heading{
  font-family: 'Neo Sans Arabic Bold',sans-serif;
}
/* End-Episodes-section */
